.contanier{
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 10px 0 10px 0;
    position: fixed;
    top:0;
}
.contanier>ul{
    width: 960px;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.item{
    width: 33.33333%;
}
.item>a{
    color: #fff;
}