.contanier{
    width: 50%;
    margin: 0 auto;
    height: 50px;
}

.bg {
    display: inline-block;
    width: 25px;
    background-repeat:no-repeat;
    height: 25px;
    background-size:cover ;
    margin-top: 8px;
}
.head{
    display: flex;
    border: 1px solid;
    position: relative;
    height: 40px;
}
.form{
    display: block;
    position: absolute;
    right: 5px;
    left: 30px;
    top:0;
    bottom:0;
}
.form>input{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-family: Helvetica;
    font-size: 16px;
}
.item{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    border: 1px solid;
    border-bottom: none;
    padding: 0 10px 0 10px;
}
.content{
    transition: all 1s ease-in-out;
    animation: fadein 1s ease 1;
}
.content >li:first-child{
    border-top: none;
}
.content > li:last-child {
    border-bottom: 1px solid;
}
@keyframes fadein {
    0% {
        transform: translate(0,-20px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}