.container{
  position: fixed;
  left: -20px;
  right: -20px;
  height: 100%;
  background-color: rgba(0,0,0,.1);
  .content{
      position: absolute;
      width: 400px;
      height: 200px;
      left: 50%;
      top:50%;
      margin-left: -200px;
      margin-top: -160px;
      border-radius: 10px;
      background-color: #fff;
      animation: bounceIn 0.5s ease 2;
      padding: 20px;
      label{
        position: absolute;
        display: block;
        right: 10px;
        top:10px;
        z-index: 2;
        cursor: pointer;
      }
  }
}

@keyframes bounceIn {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(.9,.9);
  }
  100%{
    transform: scale(1,1);
  }
}