.container{
  display: flex;
  position: relative;
  ul{
    width: 100%;
    li{
      position: relative;
    }
    li> p {
      margin-left: 170px;
    }
  }
  .height1{
    height: 60px !important;
    animation: scrollUp 1s ease-in-out 1;
  }
  .height2{
    height: 200px !important;
    animation: scrollDown 2s ease 1;
  }
  .left{
    width: 200px;
    height: 200px;
    border-right: 2px solid;
    position: relative;
    i{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      display: block;
      position: absolute;
      right: -11px;
      z-index: 1;
    }
    i:first-child{
      top:20px;
    }
    i:last-child{
      bottom:20px
    }
  }
  .right{
    position: absolute;
    right: 0;
    top:0;
    left: 200px;
    padding: 20px 50px 0px 50px;
    height: 200px;
    overflow: hidden;
  }
}

@keyframes scrollUp {
    0%{
      height: 200px;
    }
    100%{
      height: 60px;
    }
}
@keyframes scrollDown {
  0%{
    height: 60px;
  }
  100%{
    height: 200px;
  }
}